\documentclass[11pt]{article}
\usepackage[margin=1in]{geometry}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{parskip}
\usepackage{enumitem}
\setlength{\parskip}{10pt}
\setlist[itemize]{noitemsep, topsep=4pt, leftmargin=16pt, parsep=2pt}
\pagenumbering{gobble}

\begin{document}
{{ profile.contacts.location }} \hfill \today

\vspace{10pt}

{{ out.address }}

\vspace{6pt}

\noindent {{ out.intro }}

{{ out.why_you }}

{% if out.evidence and out.evidence|length > 0 %}
\noindent Key achievements that demonstrate my fit for this role:
\begin{itemize}
{% for e in out.evidence %}\item {{ e }}
{% endfor %}\end{itemize}
{% endif %}

{{ out.why_them }}

{{ out.close }}

\vspace{12pt}

Sincerely,\\[8pt]
{{ profile.name }}\\[2pt]
{{ profile.contacts.email }} \textbullet{} {{ profile.contacts.phone }}
\end{document}